html{
    height: 100%;
}

body{
    background-image:url('../img/bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}
.blackBg{
    background-color: black !important;
}
.neonRed{
    color: #FE0019 !important;
}
.neonGreen{
    color: #00ff11 !important;
}
.whiteText{
    color: white !important;
}


.bg-dark{
    background-color: black !important;
}

.fontSizeM{
    font-size: 18px;
}



